---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
---

<Layout pageTitle="Clases | Kid Pam Pum" title="Clases | Kid Pam Pum" description="Consulta la oferta de clases de Kid Pam Pum.">
  <Section>
    <Container>
      <div class="mx-auto max-w-3xl rounded-3xl border border-orange-100 bg-white p-8 text-center shadow-sm">
        <h1 class="h2">Oferta de clases</h1>
        <p class="mt-4">Toda la información actualizada de clases está disponible en la home principal.</p>
        <a href="/#clases" class="button button-fuchsia mt-8">Ir a clases</a>
      </div>
    </Container>
  </Section>
</Layout>
