---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
---

<Layout pageTitle="Página no encontrada | Kid Pam Pum" title="Página no encontrada | Kid Pam Pum" description="La página que buscas no existe o ha cambiado de ubicación.">
  <Section>
    <Container>
      <div class="mx-auto min-h-[calc(100svh_-_24rem)] w-full max-w-3xl text-center">
        <p class="text-8xl font-black text-fuchsia-600">404</p>
        <h1 class="mt-6 text-4xl">Esta página no existe</h1>
        <p class="mx-auto mt-4 max-w-xl">Es posible que la URL esté mal escrita o que el contenido se haya movido a otra sección.</p>
        <a href="/#inicio" class="button button-fuchsia mt-8">Volver al inicio</a>
      </div>
    </Container>
  </Section>
</Layout>
